<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
        <h1>Shay's Blog!</h1><br /><br />
         {% for blog in blogs %}
        <div class="blog">
            <div class="blog-title"><b><u><a href="blog/{{blog.key().id()}}" class="blog-title">{{ blog.title }}</a></u></b></div>
            <div class="blog-body"></div><pre class="blog-body">
					{{ blog.blogtext }} <br /><hr />
				</pre></div>
        </div>
        {% endfor %}
<nav>
    {% if page > 1 %}
    <a href='/?page={{page-1}}'>prev</a>
        {% if count > 0 %}
          &nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
    {% endif %}
    {% if count > 0 %}
    <a href='/?page={{page+1}}'>next</a>
    {% endif %}
</nav>
{% endblock %}