{% extends "base.html" %}

{% block content %}
        <h1>Make a new post!</h1>

        <form method="post">
            <label>
                <div>Title:</div>
                <input typeof="text" name="title" value="{{title}}">
            </label>
            <br />

            <label>
                <div>Text:</div>
                <textarea name="blogtext">{{blogtext}}</textarea>
            </label>

            <div class="error">{{error}}</div><br />

            <input type="submit">
        </form>
{% endblock %}